@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
  --font-family: "Krona One", sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-raleway: "Krona One", sans-serif;
}

body {
  background: #1c2c35;
  overflow-x: hidden;
}

#logoSumisso {
  position: absolute;
  display: flex;
  width: 1920px;
  height: 1080px;
  padding: 367px 170px 367px 169px;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation: fade-out 2.7s linear forwards;
  background-color: #1c2c35;
}

#logoSumisso img,
#logoSumisso .outros-itens {
  opacity: 1;
  transition: opacity 2.3s ease-in;
  background-color: #1c2c35;
}

#logoSumisso.fade-out img,
#logoSumisso.fade-out .outros-itens {
  opacity: 0;
  background-color: #1c2c35;
}

#app {
  padding: 4em;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.logo {
  max-width: 100%;
}

.logo img {
  width: 407px;
  height: 89px;
}

.as {
  margin: 0em 2em;
}

.menuHead {
  margin: 2em;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.menuHead a {
  padding: 1em;
  width: fit-content;
  height: 2.5em;
  margin: 1em;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  cursor: pointer;
}

.search {
  width: 881px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 1rem;
  background: #64697a;
}

.search input {
  flex: 1;
  left: 0;
  border: none;
  padding-right: 1em;
  outline: none;
  color: #a1a1a1;
  background: #64697a;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}

.search img {
  width: 39px;
  height: 39px;
  margin-left: 1rem;
  /* cursor: pointer; */
  /* display: block; */
  /* align-self: center; */
}

.search-icon-container {
  display: flex;
  align-items: center;
}

a {
  transition: 0.3s;
  font-size: 1.1em;
}

a:hover {
  opacity: 0.7;
  color: #00a3ff;
}

.sect {
  display: flex;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 39px;
    height: 39px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
